<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.ExamPaperAnswerMapper">
    <insert id="insertSelective" parameterType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_exam_paper_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="examPaperId != null">
                exam_paper_id,
            </if>
            <if test="paperName != null">
                paper_name,
            </if>
            <if test="paperType != null">
                paper_type,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="systemScore != null">
                system_score,
            </if>
            <if test="userScore != null">
                user_score,
            </if>
            <if test="paperScore != null">
                paper_score,
            </if>
            <if test="questionCorrect != null">
                question_correct,
            </if>
            <if test="questionCount != null">
                question_count,
            </if>
            <if test="doTime != null">
                do_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="taskExamId != null">
                task_exam_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="examPaperId != null">
                #{examPaperId,jdbcType=INTEGER},
            </if>
            <if test="paperName != null">
                #{paperName,jdbcType=VARCHAR},
            </if>
            <if test="paperType != null">
                #{paperType,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="systemScore != null">
                #{systemScore,jdbcType=INTEGER},
            </if>
            <if test="userScore != null">
                #{userScore,jdbcType=INTEGER},
            </if>
            <if test="paperScore != null">
                #{paperScore,jdbcType=INTEGER},
            </if>
            <if test="questionCorrect != null">
                #{questionCorrect,jdbcType=INTEGER},
            </if>
            <if test="questionCount != null">
                #{questionCount,jdbcType=INTEGER},
            </if>
            <if test="doTime != null">
                #{doTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskExamId != null">
                #{taskExamId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        update t_exam_paper_answer
        <set>
            <if test="examPaperId != null">
                exam_paper_id = #{examPaperId,jdbcType=INTEGER},
            </if>
            <if test="paperName != null">
                paper_name = #{paperName,jdbcType=VARCHAR},
            </if>
            <if test="paperType != null">
                paper_type = #{paperType,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="systemScore != null">
                system_score = #{systemScore,jdbcType=INTEGER},
            </if>
            <if test="userScore != null">
                user_score = #{userScore,jdbcType=INTEGER},
            </if>
            <if test="paperScore != null">
                paper_score = #{paperScore,jdbcType=INTEGER},
            </if>
            <if test="questionCorrect != null">
                question_correct = #{questionCorrect,jdbcType=INTEGER},
            </if>
            <if test="questionCount != null">
                question_count = #{questionCount,jdbcType=INTEGER},
            </if>
            <if test="doTime != null">
                do_time = #{doTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskExamId != null">
                task_exam_id = #{taskExamId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="getByPidUid" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select *
        from t_exam_paper_answer
        where exam_paper_id = #{pid}
          and create_user = #{uid}
        limit 1
    </select>
    <select id="findPageByTeacher" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa,
             t_subject as s
        where tepa.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and tepa.status = 1
    </select>
    <select id="findPageBySubjectAndTeacher" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa,
             t_subject as s
        where tepa.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and tepa.subject_id = #{subjectId}
          and tepa.status = 1
    </select>
    <select id="selectById" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select * from t_exam_paper_answer where id = #{id}
    </select>
    <select id="findPageByTeacherAndComplete"
            resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa,
             t_subject as s
        where tepa.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and tepa.status = 2
    </select>
    <select id="findPageBySubjectAndTeacherAndComplete"
            resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa,
             t_subject as s
        where tepa.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and tepa.subject_id = #{subjectId}
          and tepa.status = 2
    </select>
    <select id="findPageByUser" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa
        where tepa.create_user = #{userId}
    </select>
    <select id="findPageBySubjectAndUser" resultType="com.exam.onlineexamapi.domain.entity.ExamPaperAnswer">
        select tepa.*
        from t_exam_paper_answer as tepa,
             t_subject as s
        where tepa.subject_id = s.id
          and tepa.create_user = #{userId}
          and tepa.subject_id = #{subjectId}
    </select>
</mapper>