<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.ExamPaperQuestionCustomerAnswerMapper">

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
        insert into t_exam_paper_question_customer_answer ( question_id, question_score,
        subject_id, create_time, create_user,
        text_content_id, exam_paper_id, question_type,
        answer, customer_score, exam_paper_answer_id ,
        do_right,question_text_content_id,item_order)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( #{item.questionId,jdbcType=INTEGER}, #{item.questionScore,jdbcType=INTEGER},
            #{item.subjectId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=INTEGER},
            #{item.textContentId,jdbcType=INTEGER}, #{item.examPaperId,jdbcType=INTEGER}, #{item.questionType,jdbcType=INTEGER},
            #{item.answer,jdbcType=VARCHAR}, #{item.customerScore,jdbcType=INTEGER}, #{item.examPaperAnswerId,jdbcType=INTEGER},
            #{item.doRight,jdbcType=BIT},#{item.questionTextContentId,jdbcType=INTEGER},#{item.itemOrder,jdbcType=INTEGER})
        </foreach>
    </insert>
    <update id="updateScore" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";" index="index">
            update t_exam_paper_question_customer_answer
            <set>
                customer_score = #{item.customerScore}, do_right= #{item.doRight}
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    <select id="selectListByPaperAnswerId"
            resultType="com.exam.onlineexamapi.domain.entity.ExamPaperQuestionCustomerAnswer">
        select *
        from t_exam_paper_question_customer_answer where exam_paper_answer_id = #{id}
        order by item_order
    </select>
    <select id="findPageBySubjectAndUser"
            resultType="com.exam.onlineexamapi.domain.entity.ExamPaperQuestionCustomerAnswer">
        select *
        from t_exam_paper_question_customer_answer where subject_id = #{subjectId} and create_user = #{userId} and do_right = 0
    </select>
    <select id="findPageByUser"
            resultType="com.exam.onlineexamapi.domain.entity.ExamPaperQuestionCustomerAnswer">
        select * from t_exam_paper_question_customer_answer where create_user = #{userId} and do_right = 0
    </select>
</mapper>