<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.QuestionMapper">

    <insert id="insert">
        insert into t_question(question_type, subject_id, score, grade_level, difficult, correct, info_text_content_id,
                               create_user)
        values (#{questionType}, #{subjectId}, #{score}, #{gradeLevel}, #{difficult}, #{correct}, #{infoTextContentId},
                #{createUser})
    </insert>
    <update id="updateById">
        update t_question
        <set>
            <if test="questionType != null">
                question_type = #{questionType},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="difficult != null">
                difficult = #{difficult},
            </if>
            <if test="correct != null">
                correct = #{correct},
            </if>
            <if test="infoTextContentId != null">
                info_text_content_id = #{infoTextContentId,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="deleteById">
        update t_question
        set deleted = 0
        where id = #{id}
    </update>
    <select id="selectById" resultType="com.exam.onlineexamapi.domain.entity.Question">
        select *
        from t_question
        where id = #{id}
    </select>
    <select id="findPageByTeacher" resultType="com.exam.onlineexamapi.domain.entity.Question">
        select q.*
        from t_question as q,
             t_subject as s
        where q.deleted = 1
          and q.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and s.deleted = 1
    </select>
    <select id="findPageByTypeAndSubject" resultType="com.exam.onlineexamapi.domain.entity.Question">
        select q.*
        from t_question as q,
             t_subject as s
        where q.deleted = 1
          and q.question_type = #{questionType}
          and q.subject_id = #{subjectId}
          and q.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and s.deleted = 1
    </select>
    <select id="findPageByType" resultType="com.exam.onlineexamapi.domain.entity.Question">
        select q.*
        from t_question as q,
             t_subject as s
        where q.deleted = 1
          and question_type = #{questionType}
          and q.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and s.deleted = 1
    </select>
    <select id="findPageBySubject" resultType="com.exam.onlineexamapi.domain.entity.Question">
        select q.*
        from t_question as q,
             t_subject as s
        where q.deleted = 1
          and subject_id = #{subjectId}
          and q.subject_id = s.id
          and s.teacher_id = #{teacherId}
          and s.deleted = 1
    </select>
</mapper>