<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.SubjectMapper">
    <insert id="insert">
        insert into t_subject(name, subject_code, image, teacher_id, create_time)
        values (#{name}, #{subjectCode}, #{image}, #{teacherId}, #{createTime})
    </insert>
    <update id="update">
        update t_subject
        set name  = #{name},
            image = #{img}
        where id = #{id}
    </update>
    <update id="delete">
        update t_subject
        set deleted = 0
        where id = #{id}
    </update>
    <select id="findByPage" resultType="com.exam.onlineexamapi.domain.entity.Subject">
        select *
        from t_subject
        where deleted = 1
    </select>
    <select id="findPageByTeacherAndName" resultType="com.exam.onlineexamapi.domain.entity.Subject">
        select *
        from t_subject
        where deleted = 1
          and teacher_id = #{teacherId}
          and name like concat('%', #{name}, '%')
    </select>
    <select id="findById" resultType="com.exam.onlineexamapi.domain.entity.Subject">
        select *
        from t_subject
        where id = #{id}
    </select>
    <select id="getSubjectByStuId" resultType="com.exam.onlineexamapi.domain.vo.student.SubjectVO">
        select us.subject_id as id, s.name as name from t_user_subject as us, t_subject as s where us.subject_id = s.id and us.user_id = #{id}
    </select>
</mapper>