<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.TextContentMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_text_content(content, create_time) values (#{content}, #{createTime})
    </insert>
    <update id="updateById">
        update t_text_content set
        <if test="content != null">
            content = #{content}
        </if>
        where id = #{id}
    </update>
    <select id="findById" resultType="com.exam.onlineexamapi.domain.entity.TextContent">
        select * from t_text_content where id = #{id}
    </select>
</mapper>