<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.onlineexamapi.mapper.UserMapper">

    <select id="findByName" resultType="com.exam.onlineexamapi.domain.entity.User">
        select * from t_user where user_name = #{username}
    </select>
    <select id="findByPage" resultType="com.exam.onlineexamapi.domain.entity.User">
        select * from t_user where role = 1
    </select>
    <select id="findBySubject" resultType="com.exam.onlineexamapi.domain.entity.User">
        select u.* from t_user_subject us, t_user u
        <where>
            us.user_id = u.id
         and us.subject_id = #{subjectId}
        </where>
    </select>
    <select id="findById" resultType="com.exam.onlineexamapi.domain.entity.User">
        select *
        from t_user where id = #{userId};
    </select>

    <select id="findByDate" resultType="com.exam.onlineexamapi.domain.DO.user.CreateDate">
        SELECT DATE_FORMAT(create_time,'%y-%m') as yearMonth ,COUNT(id) as num
        FROM t_question
        WHERE create_user =#{createId}
        GROUP BY DATE_FORMAT(create_time,'%y-%m')
        ORDER BY DATE_FORMAT(create_time, '%y-%m');
    </select>
</mapper>